
#mainSection{
    padding-top: 65px;
    position: relative;
    max-height: 600px;
    width: 100%;
    background-color: #6497b1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }
.mainSectionWrapp{
    width: 100%;
    max-width: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 100%;
}
.mainSectDiv{
    padding: 30px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
}
.mainSectDiv img{
    width: 100%;
}
#headernabor,
#mainSectionnabor {
  position: relative;
}
#headernabor {
    position: fixed;
    width: 100vw;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    background-color: transparent;
    color: #1d1d1d;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  
    /* Additional styles for the header background */ /* Adjust the height as needed */
    border-bottom: 0;
    transition: all 0.3s;
}
#mainSectionnabor {
    z-index: 1; /* Adjust this margin to make space for the fixed header */
    background: url(mainsectionnabor.png) center/cover no-repeat; /* Add the background image */
    margin-bottom: 30px;
    background-color: #6497b1;
    height: 500px;
  }

  
#bckgrnd2{
    background: url(kontakt.png);
    height: 500px;
    background-color: #6497b1;
    width: 100%;
    z-index: 1;
    background-position: left;
}
#bckgrnd3{
    background-image: url(TrueRP-08.webp);
    overflow: hidden;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6497b1;
    background-position: center;
    width: 90%;
    z-index: 1;
    margin-left: 5%;
    border-radius: 15px;
}

/*---------------------------------secondSection---------------------------------*/
#secondSection2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}
#homewrapp{
    background-image: url(TrueRP-08.jpg);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1400px;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 14px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
}
.secondSectionWrapp2{
    margin-top: -115px;
    z-index: 2;
}
#secondSectionOptionsWrapp{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    row-gap: 25px;
    position: relative;
    margin: auto;
    height: 620px;
}
.subdivisions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f7;
    padding: 20px 60px;
    position: relative;;
    border-radius: 14px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    scale: 20_;
    height: auto;
    margin: auto;
}
.subdivisions2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f7;
    padding: 20px 60px;
    position: relative;;
    border-radius: 14px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    scale: 20_;
    height: 100%;
}
.secondSectionOptions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f7;
    padding: 20px 60px;
    position: relative;;
    border-radius: 14px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    scale: 20_;
    height: 100%;
}
.secondSectionOptions:hover{
    background-color: #dedee1;
}
.secondSectionOptions img{
    width: 100%;
    max-width: 500px;
    min-width: 400px;
}
.secondSectionWrapp31{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    row-gap: 20px;
}
.secondSectionWrapp3{
    background-color: #fff;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1400px;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 14px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
}
.secondSectionWrapp3>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    border-radius: 14px;
    padding: 30px 60px;
    position: relative;
}
.secondSectionWrapp3>div img{
    width: 100%;
}
.secondSectionWrapp3>div video{
    height: 100%;
    border-radius: 14px;
}
#reverseFlex{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-color: #a50066;
}

.toph3{
    text-align: center;
    color: #000000; 
    padding: 5px;
    border-radius: 25px;
    margin-top: 5px; 
    background-color: #6497b1;
    margin-left: 400px;
    margin-right: 400px;
}

.secondSectionWrapp32{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 15px;
}
.secondSectionWrapp4{
    background-color: #f5f5f7;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 1400px;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 14px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    overflow: hidden;
}
.secondSectionWrapp4>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;padding: 30px 60px;
}
.secondSectionWrapp4>div img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
    -webkit-box-shadow: 10px 10px 50px gray;
            box-shadow: 10px 10px 50px gray;
}




#followSection{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 60px;
}
.followWrapp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.followImgWrapp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    overflow: hidden;
    height: 650px;
}
.followImgWrapp img{
    width: 241px;
    height: 416px;
    border-radius: 14px;
    -o-object-fit: cover;
       object-fit: cover;
}
.top{
    text-align: center;
    color: #000000; 
    padding: 5px;
    border-radius: 25px;
    font-size: 25px;
    margin-top: -20px; 
}
.top1{
    text-align: center;
    color: #000000;
     padding: 5px;
     border-radius: 25px;
     font-size: 25px; 
     margin-bottom: 10px;
}
.top2{
    text-align: left;
    color: #000000; 
    padding: 5px;
    margin-left: 10px;
}
.top3{
    text-align: center;
    color: #000; 
    padding: 5px; 
    margin: 20px;
    border-radius: 25px; 
    background-color: #6497b1;
}
.secondSectionWrapp2z{
    border: 5px;
    border-color: #6497b1;
    border-radius: 25px;
    border-style: solid;
    margin-left: 100px; 
    margin-right: 100px;
}
.secondSectionWrapp2x{
    border: 5px;
    border-color: #6497b1;
    border-radius: 25px;
    border-style: solid;
    margin-left: 100px; 
    margin-right: 100px;
    margin-top: 100px; 
}
.secondSectionWrapp2y{
    margin-top: 100px;
}
.wrapp1{
    margin-top: -150px; 
    display: flex; 
    justify-content: center;
}
.wrapp2{
    background-color: #6497b1; 
    border-radius: 15px; 
    width: 25%; 
    margin-right: 15px;
}
.headerwrapp2{
    color:#000; 
    text-align: 
    left; 
    padding: 0px 0px 0px 35px;
}
.textwrapp2{
    text-align: left;
    color: #000; 
    font-size: 18px; 
    padding-left: 35px;
}
#formtext{
    text-align: center;
    color: #000000; 
    padding: 5px;
    border-radius: 25px;
    font-size: 35px;
    margin-top: 50px;
}
.form{
    background-color: #6497b1; 
    width: 50%; 
    border-radius: 15px; 
    margin-left: 25%;
    align-items: center; 
    margin-top: 30px;
}
.naborclosed{
    filter: blur(4px);
}
.naborclosedbutton{
    width: 50%;
    margin-left: 25%;
    position: absolute;
    margin-top: 30px;
    height: 780px;
    z-index: 99;
    border-radius: 15px;
    background-color: transparent; 
    font-size: 50px; 
    color: red;
}
.foto1{
    width: 100%;
    border-radius: 14px; 
    height: 270px; 
    overflow: hidden;
}
.foto2{
    width: 100%;
    border-radius: 14px; 
    max-height: 270px;
    overflow:hidden;
}
.divfoto1{
    flex-direction: row;
    column-gap: 15px; 
    margin-bottom: -4px; 
    margin-top: 54px;
}
.divfoto3{
    flex-direction: row;
    column-gap: 15px; 
    margin-bottom: -4px; 
    margin-top: 54px;
}
.divfoto2{
    flex-direction: row;
    column-gap: 15px; 
    margin-bottom: -4px; 
    margin-top: 17px;
}
.mobile-one .mobile-nav li a:hover{
	background-color: #23252B;
	color: #fff;
	border-left: 3px solid #C8AE7D;
}
#h2text{
    text-align: center;
    color: #000000;
    padding: 5px;
    margin: 80px 100px 0px 100px;
    border-radius: 25px; 
    font-size: 40px;
}
#cbtn{
    margin-left: 56%; 
    background-color: #6497b1; 
    border: solid 2px
}
#cbtn2{
    margin-left: 130%; 
    background-color: #6497b1; 
    border: solid 2px
}
#cbtn3{
    margin-left: 56%; 
    background-color: #C8AE7D; 
    border: solid 2px
}
#scrollbutton3{
    display: block;    
    margin-left: 51%;
}
#cbtnl{
    background-color: #6497b1; 
    border: solid 2px;
    margin-bottom: -20px;
}
@media only screen and (max-width: 1440px) {
    .secondSectionWrapp3{
        max-width: 1200px;
    }
    .secondSectionWrapp31{
        padding: 0 15px;
    }
    .secondSectionWrapp4 {
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1200px) {
    h2{
        font-size: 48px;
    }

}
@media only screen and (max-width: 910px) {
    .mainSectionWrapp{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #mainSection{
        max-height: 100%;
    }
    .mainSectDiv{
        max-width: 100%;
    }
    h2{
        font-size: 68px;
    }
    .secondSectionWrapp3{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0;
    }
    .secondSectionWrapp3>div{
        width: 100%;
    }
    #reverseFlex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .secondSectionWrapp4{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }
    .secondSectionWrapp4>div{
        width: 100%;
    }
    .secondSectionOptions{
        width: calc(50% - 15px);
        max-width: 100%;
    }
    .secondSectionOptions img {
        min-width: 0;
    }
}
@media only screen and (max-width: 770px) {
    h2{
        font-size: 48px;
    }
}
@media only screen and (max-width: 650px) {
    #secondSectionOptionsWrapp{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 15px;
    }
    .secondSectionOptions{
        width: 100%;
    }
    .secondSectionWrapp3>div{
        padding: 30px;
    }
    .secondSectionWrapp3>div video{
        display: none;
    }
    .secondSectionWrapp3>div img{
        width: 100% !important;
    }
    .secondSectionWrapp4>div{
        padding:30px;
    }
    .naborclosedbutton{
        width: 75%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 480px) {
    .mainSectDiv{
        padding-left: 30px;
        padding-right: 30px;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
    #svg-container{
        display: none;
    }
    #secondSectionOptionsWrapp{
        display: block;
        margin-bottom: 250px;
        margin-top: 50px;
        height: 300px;
    }
    .secondSectionOptions{
        width: 100%;
        margin-bottom: 20px;
    }
    .secondSectionWrapp2x{
        margin: 20px;
        padding-top: -20px;
    }
    .secondSectionWrapp2y{
        margin: 20px;
        padding-top: -20px;
    }
    .secondSectionWrapp2z{
        margin: 20px ;
        padding-top: -20px;
    }
    .secondSectionWrapp3>div{
        padding: 15px;
    }
    .secondSectionWrapp4>div{
        padding: 15px;
    }
    .row{
       display: block !important;
    }
    .foto{
        width: 280px !important;
        margin-top: 20px !important;
        margin-left: 40px;
    }
    #lasttext{
        margin: 20px !important;
    }
    #lasttextt{
        margin: 0px !important;
    }
    .column{
        margin: 0px !important;
    }
    .card{
        width: 360px;
    }
    h2{
        font-size: 40px
    }
    .top{
        margin-top: -150px;
    }
    .toph3{
        margin-left: 0px;
        margin-right: 0px;
        margin: 20px 0px 20px 0px;
        margin-bottom: 150px;
        margin-top: -2px;
        margin-right: -1px !important;
        border-radius: 18px !important;
    }
    .sss{
        margin-top: 0px !important;
    }
    .wrapp1{
        display: inline;
        margin-top: 0px;
    }
    .wrapp2{
        width: 90%;
        margin: auto;
        
    }
    .headerwrapp2{
        padding-top: 22px;
    }
    .foto1{
        width: 100%;
        border-radius: 14px; 
        height: 200px; 
        overflow: hidden;
    }
    .foto2{
        width: 100%;
        border-radius: 14px; 
        overflow: hidden;
    }
    .divfoto1{
        height: 200px;
    }
    .divfoto2{
        height: 200px;
    }
    .googleform{
        width: 300px;
    }
    .form{
        margin: auto;
        width: 85%;
    }
    #foto{
        margin-left: 0px !important;
    }
    #bckgrnd3{
        margin-top: 30px;
        background-position: left;
    }
    #headernabor{
        margin-bottom: 100px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    #h2text{
        margin: 90px 0px -20px 0px !important;
    }
    #cbtn{
        margin-left: 32%; 
        background-color: #6497b1; 
        border: solid 2px
    }
    #cbtn2{
        margin-left: 48%; 
        background-color: #6497b1; 
        border: solid 2px
    }
    #scrollbutton3{
        display: block;    
        margin-left: 25%;
    }
    #iawrapp{
        margin-bottom: 30px;
        width: 91% !important;
    }
    #iaimg{
        width: 80% !important;
    }
} 
@media only screen and (max-width:400px){
    h2{
        font-size:38px
    }
}